body {
    font-family:bahnscrift;
    background-color: #6dec83; /* Light mint color */
    margin: 0;
    padding: 0;
}

.nav-bar {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

.nav-bar h1 {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.container-box {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-top: 0;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.btn {
    background-color: #4CAF50;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41;
}

.screenshot-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.screenshot-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.background-clip{
    position: fixed;
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    right: 0;
    bottom: 0;
    z-index: -1;
}
.background-clip video {
    object-fit: cover; 
    width: 100%; 
    height: 100%; 
  }
@media (min-aspect-ratio:16/9){
    .background-clip{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .background-clip{
        width: auto;
        height: 100%;
    }
}
.screescreenshots-section container-box{
    align-items: center;
}